.category-click {
    /* Background and Text Color */
    background-color: #FF8C00; /* FFA500 */
    color: #111; /* text-blue-800 */
    display: inline-block;
   /* Rounded Corners */
    border-radius: 0.5rem; /* rounded-xl (12px) */

    /* Shadow */
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); /* shadow-md */

    /* Padding and Spacing */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin: 0.25rem 0.25rem;

    /* Font and Text Styling */
    font-weight: 600; /* font-semibold */
    font-size: 0.75rem;
    text-align: center;

    /* Interactivity */
    cursor: pointer; /* cursor-pointer */
    transition: all 0.2s ease-in-out; /* transition-all duration-300 ease-in-out */
}
.category-total {
    background-color: #a10000;
    color: #fff;
}

.category-click:hover {
    background-color: #FF991A; /* #cc8605 */
    color: #fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); /* hover:shadow-lg */
    transform: scale(1.05); /* hover:scale-105 */
}

.category-active {
    background-color: #FF9900; /* #ff9900 */
    color: #fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); /* hover:shadow-lg */
    transform: scale(1.05); /* hover:scale-105 */
}

.category-inactive {
    background-color: #eee6d7; /* hover:bg-blue-200 */
    color: #dad1d1;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); /* hover:shadow-lg */
    transform: scale(1.05); /* hover:scale-105 */
}

/* For small screens and up (sm: breakpoint in Tailwind, typically 640px) */
@media (min-width: 640px) {
    .category-click {
        width: auto; /* sm:w-auto */
    }
}

.total {
    background-color: #e6af0b !important;
    color: #2c2626 !important;
    font-weight: 600;
}

.date-click:hover {
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    transition: all 0.8s ease-in-out;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.chart-container {
    width: auto;
    overflow: scroll !important;
}